main {
    padding: 0;
}

.nav {
    position: sticky;
    top: 0;
    padding: 40px;
    background: #996888;
    text-align: center;
    font-family: 'DM Sans';
    color: white;
}

/* Style the links inside the navigation bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'DM Sans';
}

/* Change the color of links on hover */
.nav a:hover {
    color: #2a2b2aff;
}

/* Add a color to the active/current link */
.nav a.active {
    color: #2a2b2aff;
}

img.profile-pic {
    width: 150px;  /* Adjust size */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 50%;  /* Makes it circular (optional) */
    position: absolute;
    left: 40px;  /* Move image left */
    top: 110px; 
}

/* 

    --jet: #2a2b2aff;
    --eggplant: #5e4955ff;
    --chinese-violet: #996888ff;
    --rosy-brown: #c99da3ff;
    --columbia-blue: #c6ddf0ff;
  
  */